@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display Resultado</title>
</head>
<body>
    <div>
        <p>
            @ViewBag.Result
        </p>
    </div>
    <a asp-action="Index">Volver a Calcular</a>
</body>
</html>

